.fc {
    --fc-small-font-size: 0.85em; // event-text-size
    --fc-event-bg-color: #438d97;
    --fc-event-border-color: transparent;
    --fc-event-text-color: #efefef;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
    --fc-today-bg-color: #d4e2e448;
    --fc-border-color: #d6d6d6;

    font-family: 'Montserrat';

    .fc-multimonth {
        border-radius: 6px;
    }

    .fc-toolbar-title {
        font-size: 25px;
        font-weight: 500;
    }

    .fc-col-header-cell-cushion {
        font-size: 14px;
        font-weight: 500;
    }

    .fc-daygrid-day-number {
        font-size: 0.85em;
        padding-bottom: 2px;
    }

    .fc-day-today {
        .fc-daygrid-day-number {
            background-position: center 2px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../assets/images/circle.png');
        }
    }

    .fc-button {
        font-size: 14px;

        .fc-icon {
            display: flex;
            align-items: center;
            font-size: 16px;
            height: 21px;
        }
    }

    .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
        margin-left: 0.5em;
    }

    .fc-more-link {
        font-size: 10px;
    }

    .fc-popover {
        z-index: 100; // 原本開了 9999，但這會影響 chakra 的 tooltip 顯示
    }
}
